<% include partials/header %>
  <main role="main" class="cover">
    <h1 class="cover-heading" >Page not foud</h1>
    <p class="lead">You should check for spelling mistakes. Or just mistakes in general. Might be good to fix your life in a while too.</p>
    <p class="lead">
      <a href="/" class="btn btn-lg btn-secondary">¯\_(ツ)_/¯</a>
    </p>
  </main>
<p id="spacing"></p>
<% include partials/footer %>