<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ottos Atlas</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <style media="screen">body{background-color: #17a2b8;}</style>

    <div class="jumbotron bg-primary text-dark text-center">
      <h1 class="font-weight-bold display-1">
        404
      </h1>
      <p class="h1">
        Page not found
      </p>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container bg-secondary">
      <div class="jumbotron bg-secondary">
        <h1>Siden du skrev inn ble ikke funnet</h1>
        <h4>Det du skrev inn (F.eks www.ottosatlas.com/etellerannet) ble ikke akseptert. Kanskje du burde sjekke skrivefeil?</h4>
        <a class="btn btn-dark btn-lg" href="/">¯\_(ツ)_/¯</a>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
