<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>Otto's Atlas</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



    <meta name="theme-color" content="#563d7c">

    <!-- Custom styles for this template -->
    <link href="/css/landing.css" rel="stylesheet">
</head>



<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="brand">
        <h3>Otto's Atlas</h3>
    </header>

    <main role="main" class="cover">
        <h1 class="cover-heading" >Otto's Atlas</h1>
        <p class="lead">Projects, stuff'n things. Maybe even a CV if i'm not lazy. But let's not get too ahead of ourselves...</p>
        <p class="lead">
            <a href="https://github.com/BonelessBob" class="btn btn-lg btn-secondary">Github</a>
        </p>
    </main>


    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md"></div>
            <div class="col-md-8">
                <div class="card project">
                    <a href="/1STFantastisk" class="h3 card-title">1STFantastisk</a>
                    <p>1STF som lager nettsider. Kan det bli bedre?</p>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
    </div>



    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md"></div>
            <div class="col-md-8">
                <div class="card project">
                    <a href="/physics" class="h3 card-title">Matter.js</a>
                    <p>An implementation of the Matter.js physics engine</p>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
    </div>



    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md"></div>
            <div class="col-md-8">
                <div class="card project">
                    <a href="/memes" class="h3 card-title">MemeDB</a>
                    <p>A database containing memes... If by memes you mean weird shit</p>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
    </div>




    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md"></div>
            <div class="col-md-8">
                <div class="card project">
                    <a href="/nmt" class="h3 card-title">Ned Med Trappene</a>
                    <p>En nettside om hvordan trapper symboliserer klasseskille. Hvem som helst kan kommentere i kommentarfeltet under et valgfritt alias</p>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
    </div>


    <footer class="foot mt-5">
        <div class="inner">
            <p>Instagram <a href="https://www.instagram.com/otto.ht">@otto.ht</a>.</p>
        </div>
    </footer>
</div>
</body>
</html>
