<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ottos Atlas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <!-- <div class="container">

    </div> -->

    <div class="bg-info">
      <div class="jumbotron bg-primary text-dark text-center">
        <h1 class="font-weight-bold display-1">
          Ottos Atlas
        </h1>
        <p class="h1">
          En samling av Ottos prosjekter
        </p>
      </div>

      <div class="container bg-secondary">
        <div class="jumbotron bg-secondary">
          <h1>Ned Med Trappene</h1>
          <p>En nettside om hvordan trapper symboliserer klasseskille. Hvem som helst kan kommentere i kommentarfeltet under et valgfritt alias</p>
          <a class="btn btn-dark btn-lg" href="/nmt">Ned Med Trappene</a>
        </div>
      </div>

      <div class="container bg-secondary">
        <div class="jumbotron bg-secondary">
          <h1>MemeDB</h1>
          <p>En database hvor hvem som helst kan legge til hva enn de vil. Helst memes</p>
          <a class="btn btn-dark btn-lg" href="/memes">Ned Med Trappene</a>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>

      <h1>Nettsiden er hele tiden under utvikling og det kommer til å dukke opp flere prosjekter</h1>
      <p>Husk at dette bare er en samling av mine (Og noen ganger andres) rare ideer. Ikke ta ting alt for seriøst</p>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
