<!DOCTYPE html>
<html>
<head>
    <title> YEE </title>
</head>
<body>
<h1 id="beep"> Hei </h1>
<p> This siosdjoisjf fuck ? </p>
<button id="galt1"> beep boop </button>
<button id="galt2"> beep beep </button>
<button id="riktig"> beep bååp </button>
<br> <br>
<img id="sexy" width="500">

<h1> BRROOM </h1>
<script>
    var rk = document.getElementById("riktig")
    var glt1 = document.getElementById("galt1")
    var glt2 = document.getElementById("galt2")
    var img = document.getElementById("sexy")


    rk.addEventListener("click", cool)
    function cool (){
        rk.innerHTML=";)"
        img.src = "/images/1STFantastisk/beepboop.jpg"

    }

    glt1. addEventListener("click",timefordeath)
    glt2. addEventListener("click",timefordeath)
    function timefordeath(event){

        if(event.target.id == "galt1")
            glt1.innerHTML="fuck you"
        else
            glt2.innerHTML="fuck youuuu"
    }


</script>
</body>
</html>