<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ottos Atlas</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <style media="screen">body{background-color: #17a2b8;}</style>

    <div class="jumbotron bg-primary text-dark text-center">
      <h1 class="font-weight-bold display-1">
        Ottos Atlas
      </h1>
      <p class="h1">
        En samling av Ottos prosjekter
      </p>
    </div>

    <div class="container bg-secondary">
      <div class="jumbotron bg-secondary">
        <h1>Ned Med Trappene</h1>
        <p>En nettside om hvordan trapper symboliserer klasseskille. Hvem som helst kan kommentere i kommentarfeltet under et valgfritt alias</p>
        <a class="btn btn-dark btn-x" href="/nmt">Ned Med Trappene</a>
      </div>
    </div>

    <div class="container bg-secondary">
      <div class="jumbotron bg-secondary">
        <h1>MemeDB</h1>
        <p>En database hvor hvem som helst kan legge til hva enn de vil. Helst memes</p>
        <a class="btn btn-dark btn-lg" href="/memes">MemeDB</a>
      </div>
    </div>

    <div class="container bg-secondary">
      <div class="jumbotron bg-secondary">
        <h1>Matter.js</h1>
        <p>En implementering av Matter.js physics engine</p>
        <a class="btn btn-dark btn-lg" href="/physics">Matter.js</a>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <h1>Nettsiden er hele tiden under utvikling og det kommer til å dukke opp flere prosjekter</h1>
    <p>Husk at dette bare er en samling av mine (og noen ganger andres) rare ideer. Ikke ta ting alt for seriøst</p>



    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
