<% include partials/header %>

    <main role="main" class="cover">
        <h1 class="cover-heading" >Otto's Atlas</h1>
        <p class="lead">Projects, stuff'n things. Maybe even a CV if i'm not lazy. But let's not get too ahead of ourselves...</p>
        <p class="lead">
            <a href="https://github.com/BonelessBob" class="btn btn-lg btn-secondary">Github</a>
        </p>
    </main>


    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md"></div>
            <div class="col-md-8">
                <div class="card project">
                    <a href="/1STFantastisk" class="h3 card-title">1STFantastisk</a>
                    <p>1STF som lager nettsider. Kan det bli bedre?</p>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
    </div>



    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md"></div>
            <div class="col-md-8">
                <div class="card project">
                    <a href="/physics" class="h3 card-title">Matter.js</a>
                    <p>An implementation of the Matter.js physics engine</p>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
    </div>



    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md"></div>
            <div class="col-md-8">
                <div class="card project">
                    <a href="/memes" class="h3 card-title">MemeDB</a>
                    <p>A database containing memes... If by memes you mean weird shit</p>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
    </div>




    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md"></div>
            <div class="col-md-8">
                <div class="card project">
                    <a href="/nmt" class="h3 card-title">Ned Med Trappene</a>
                    <p>En nettside om hvordan trapper symboliserer klasseskille. Hvem som helst kan kommentere i kommentarfeltet under et valgfritt alias</p>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
    </div>


<% include partials/footer %>