<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>Otto's Atlas</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



    <meta name="theme-color" content="#563d7c">

    <!-- Custom styles for this template -->
    <link href="/css/landing.css" rel="stylesheet">
</head>



<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="brand">
        <h3>Otto's Atlas</h3>
    </header>

    <main role="main" class="cover">
        <h1 class="cover-heading" >1STFantastisk</h1>
        <p class="lead">Prosjekter laget av 1STF. De er helt fantastiske</p>
        <p class="lead">
            <a href="https://github.com/BonelessBob" class="btn btn-lg btn-secondary">Github</a>
        </p>
    </main>



    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md"></div>
            <div class="col-md-8">
                <div class="card project">
                    <a href="/1STFantastisk/beepboop" class="h3 card-title">Beepboop</a>
                    <p>Laget av Zoi under IT2 smakebitkurs 2020</p>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer class="foot mt-5">
        <div class="inner">
            <p>Instagram <a href="https://www.instagram.com/otto.ht">@otto.ht</a>.</p>
        </div>
    </footer>
</div>
</body>
</html>
